<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html"><b>Admin</b>LTE</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form [formGroup]="rForm" (ngSubmit)="addUser(rForm.value)">

        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Full name" formControlName="name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ titleAlert }}
        </div>

        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ titleAlert }}
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ titleAlert2 }}
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Retype password" formControlName="confirmPassword" required>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="!rForm.controls['confirmPassword'].valid && rForm.controls['confirmPassword'].touched">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ titleAlert2 }}
        </div>

        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Address" formControlName="address" required>
          <span class="glyphicon glyphicon-home form-control-feedback"></span>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="!rForm.controls['address'].valid && rForm.controls['address'].touched">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ titleAlert }}
        </div>

        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Contact no" formControlName="contact" required>
          <span class="glyphicon glyphicon-phone-alt form-control-feedback"></span>
        </div>
        <div class="alert alert-danger alert-dismissible" *ngIf="!rForm.controls['contact'].valid && rForm.controls['contact'].touched">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ titleAlert }}
        </div>

        <div class="row">
          <div class="col-xs-8">
            <!-- <div class="checkbox icheck">
              <label>
                <input type="checkbox"> I agree to the <a href="#">terms</a>
              </label>
            </div> -->
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!rForm.valid">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fa fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fa fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div> -->

      <a routerLink="/" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
