.f_btn {
    float: right;
}

.f_btndel {
    float: right;
    position: absolute;
    top: 54px;
    right: 14%;
}

.f_view {
    margin-left: 19px;
}

.btn_per {
    float: right;
   /* margin-top: -34px; */
}

.f_role {
    float: right;
    font-size: 10px;
    padding: 9px;
    margin-top: -34px;
    margin-right: -11px;
}

.content-header small {
    font-weight: 800 !important;
}

.f_cross {
    float: none !important;
    margin-left: 10px;
}

.f_permission {
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.f_login {
    margin-left: 16%;
}



.f_loginbtn {
    text-align: center;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ecf0f5;
}


.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}

.content-header h1 {
    /* text-align: center; */
    margin-left: 35%;
}