<div class="row">

  <div class="col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Roles List</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Display Name</th>
              <th>Description</th>
              <th>Permission assignment</th>
              <th>Permission</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of rolesList">
              <td>{{ role.name }}</td>
              <td>{{ role.display_name }}</td>
              <td>{{ role.description }}</td>
              <td>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" (click)="onPermission(role.permissions)">View Permission (Count: {{ role.permissions_count }})</button>
              </td>
              <td>
                <form [formGroup]="role_management_form">
                  <select class="form-control" name="permission_id" formControlName="permission_id" (change)="onSubmit(role_management_form, role.id )">
                    <option *ngFor="let permission_list of permissionsList" value="{{ permission_list.id }}">
                      {{ permission_list.name }}
                    </option>
                  </select>
                </form>
              </td>
              <td class="text-center">
                <a class="btn text-danger" (click)="onDelete(role)">
                  <i class="fa fa-trash-o"></i>
                </a>
                <!-- <button type="button" class="btn btn-info" (ngClick)="onEdit('as' )">Edit</button>
                <button type="button" class="btn btn-danger" (ngClick)="onDelete( role.id )">Delete</button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">View Permission</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngFor="let role_permission of permissionsList_id">
          {{ role_permission.name }}
          <a class="btn text-danger" (click)="onPermissionDelete(role_permission)" data-dismiss="modal">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
